body{
    margin: 0;
    font-family: cursive;
    background-color: #c5cae9;
}
header{
    padding: 25px 45px;
    background-color: #37474f;
    color: #fff;
    flex-wrap: wrap;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: all 0.3s ease-out;

}
nav ul li a:hover{
    color: #c5cae9;
    transform: rotate(6deg);

}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    

}


main{
    background-color: #c5cae9;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
}
.text{
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;

}
 img{
    border-radius: 30px;
    max-width: 100%;
}
footer{
    background-color: #37474f;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.text h1{
    text-shadow: 3px 3px gray;
}
@media screen and (max-width: 768px) {
    nav ul{
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
        
    }
    
}